/* Version Mobile First */

/* Block: header */

.header {
    padding: 20px;

}

/* Element: header__logo-link */
.header__logo-link {
    display: flex;
    align-items: center;
}

/* Element: header__logo */
.header__logo {
    display: flex;
    padding: 14px 89px 13px 89px;
    justify-content: center;
    align-items: center;
    width: 195.566px;
    height: 33.444px;
}

/* Element: header__localisation */
.header__localisation {
    display: flex;
    align-items: center;
}

/* Element: header__localisation-icon */
.header__localisation-icon {
    margin-right: 8px;
    font-size: 20px;
}

/* Element: header__localisation-text */
.header__localisation-text {
    margin: 0;
    font-size: 16px;
}

























