/* Version Mobile First */
/* Container styling */
.container {
    width: 100%;
}

/* Header styling */
.header {
    padding:0px;
}

/* Logo link styling */
.header__logo-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Block styling for location */
.location {
    display: flex;
    align-items: center;
}

/* Element styling for icon */
.location__icon {
    margin-right: 8px;
    font-size: 20px;
}

/* Element styling for text */
.location__text {
    margin: 0;
    font-size: 32px;
}























