.logo {
    display: flex;
    justify-content: center;
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    text-decoration: none;
    padding: 10px;

}
.nav {
    position: absolute;
    left: 25px;
    top: 20px;
    color: #000;
    text-decoration: none
}