.button {
    @include Button-Gradient;
    display: inline-block;
    padding:32px 20px;
    color:#FFF;
    text-decoration: none;
    font-size:45px;
    border-radius:80px;
    width: 612px;
    height: 134px;
    text-align: center;
    margin-bottom: 57px;
    @include roboto-font;

    &:hover {
      transition: 0.5s all ease-in-out;
      opacity: 0.85;
      box-shadow: $shadow-3;
    }
  }