* {
    font-family: "roboto", sans-serif;
    margin: 0px;
  }
body {
    margin-top: 0;
}
:root {
    --main-color: #F3F3F3;
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
}
.main-container {
    width: 100%;
    background-color: #fff;
    margin-left: 0;
}


.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 17px;
    background-color: #eaeaea;
    margin: 0;
    box-shadow: inset 0 5px 10px -10px;
}
.intro {
    text-align: center;
    background-color: var(--main-color);
    padding: 0px 10px 70px;
    h1 {
      font-weight: 700;
      font-size: 24px;
      padding: 40px 0px 10px;
      max-width: 250px;
      margin: auto;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      padding-bottom: 40px;
    }
  }
.btn {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 218px;
    padding: 15px 0px;
    background: linear-gradient(var(--secondary-color), var(--primary-color));
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-size: 16px;
    &:hover {
        background: linear-gradient(var(--secondary-color), var(--secondary-color), var(--primary-color));
        transition: 0.2s;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.35);
        cursor: pointer;
    }
}
.main-title {
    font-weight: 900;
    font-size: 24px;
    padding: 50px 0px 20px;
}



.fa-heart {
    cursor: pointer;
    &:hover {
        color: var(--primary-color);
    }
}
#heart:checked ~ label,
#heart1:checked ~ label,
#heart2:checked ~ label,
#heart3:checked ~ label,
#heart4:checked ~ label {
  color: var(--primary-color);
  .heart-full {
    display: inline;
    &::before {
      display: inline;
      position: relative;
      background: linear-gradient(var(--primary-color), var(--secondary-color));
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.heart-full,
.heart-full::before,
#heart,
#heart1,
#heart2,
#heart3,
#heart4 {
  display: none;
}