* {
    font-family: "roboto", sans-serif;
    margin: 0px;
    box-sizing: border-box;
  }
  :root {
    --main-color: #F3F3F3;
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
}
body {
  width: auto;
}

