/* Variables home */
/* color home */

$bg-color-light: #EAEAEA;
$bg-color-lighter: #F6F6F6;
$bg-color-badge: #99E2D0;

/* text home */
$text-color: #000;
$text-color-light: #757575;
$text-color-icon: #7E7E7E;
$text-color-icon-special: #9356DC;
$text-color-badge: #008766;

/* shadow home */

$shadow-1: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$shadow-2: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$shadow-3: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);


/* font home */

$font-family-primary: 'Roboto';
$font-family-title: 'Shrikhand';