/* Variables */
$bg-color-light: #EAEAEA;
$bg-color-lighter: #F6F6F6;
$text-color: #000;
$text-color-light: #757575;
$text-color-icon: #7E7E7E;
$text-color-icon-special: #9356DC;
$text-color-badge: #008766;
$bg-color-badge: #99E2D0;
$shadow-1: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$shadow-2: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
$font-family-primary: 'Roboto';
$font-family-title: 'Shrikhand';

/* mixed */

@mixin Button-Gradient{
  background: var(--Button-Gradient, linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%));
}

@mixin shadow($shadow){
  box-shadow: $shadow;
}



/* Block styling for location */
.location {
  display: flex;
  background: $bg-color-light;
  height: 130px;
  justify-content: center;
  align-items: center;
  gap:35px;
  @include shadow($shadow-1);

  &__icon {
    margin-right: 8px;
    font-size:50px;
  }

    &__text {
      margin: 0;
      font-size: 46px;
      font-family:$font-family-primary;
      font-weight: 500;
    }
}

/* Block: reservation */
.reservation {
  text-align: center;
  background: $bg-color-lighter;
  padding: 100px;

  &__title {
    font-size: 75px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family:$font-family-primary;
  }

  &__subtitle {
    font-size: 45px;
    margin-bottom:84px;
    font-family: $font-family-primary;
  }
  
  a {
    @include Button-Gradient;
    display: inline-block;
    padding:32px 20px;
    color:#FFF;
    text-decoration: none;
    font-size:45px;
    border-radius:80px;
    width: 612px;
    height: 134px;
    font-family: Roboto;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 57px;

    &:hover {
    transform: scale(1.1);
    }
  }
}

/* block: fonctionnement */

.fonctionnement {

  text-align: center;
  background: white;

  &__fonctionnement-title {
    margin-bottom:80px;
    font-family: $font-family-primary;
    font-size: 66px;
    padding:48px 80px 0 54px;
    display: flex;
    
  }

  &__filter {
    padding: 10px;
    border-radius: 8px;
  }

  &__steps {
    margin: 0;
    list-style-type: none;
    padding: 0;
    padding-bottom: 174px;
  }

  &__step {
    display: flex;
    align-items: center;
    border-radius:40px;
    height:161px;
    width:84%;
    margin: 0 auto;
    background: var(--Background, #F6F6F6);
    @include shadow($shadow-2);
    margin-bottom:80px;

    &:last-child {
    margin-bottom: 0;
    padding-left:38px;
    }

    &-icon {
    margin-right: 30px;
    margin-left: 99px;
    color: $text-color-icon;
    font-size:62px;
    }

    &-icon--special{
    margin-right: 30px;
    margin-left:60px;
    font-size:62px;
    color: $text-color-icon-special;
    }

    &-text {
    font-size: 40px;
    color: $text-color;
    font-family: $font-family-primary;
    font-weight: 500;
    line-height: normal;
    padding-left:40px;
    }

    &-number {
    color:$bg-color-light;
    font-size: 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    border: 1px solid;
    align-items: center;
    position: absolute;
    background:$text-color-icon-special;
    justify-content: center;
    font-family: roboto;
    left:6%;
    }
  }
}

/* Block: restaurants */
.restaurants {
  padding: 57px;
  background-color: $bg-color-lighter;
  padding-top: 63px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: Roboto;
  font-size: 24px;

  &__title {
  font-size: 66px;
  text-align: left;
  margin-bottom:56px;
  }

  &__choice {
  display: flex;
  flex-direction: column;
  gap: 20px;
  }

  &__item {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  }

  &__link {
  text-decoration: none;
  position: relative;
  color: inherit;
  }

  &__badge {
  position: absolute;
  background-color:$bg-color-badge;
  color:$text-color-badge;
  font-size: 42px;
  padding: 7px 9px;
  right: 18px;
  margin-top: 26px;
  width: 217px;
  height: 69px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  }

  &__image {
  height: 520px;
  width: 100%;
  object-fit: cover;
  }

  &__details {
  padding: 10px;
  background-color: #ffffff;
  border: 4px solid white;
  margin-bottom: 30px;
  border-radius: 0px 0px 40px 40px
  }

  &__name {
  margin: 0 0 5px;
  font-family: $font-family-primary;
  font-size:46px;
  font-weight: 700;
  }

  &__location {
  font-size:48px;
  color: $text-color;
  margin: 0 0 10px;
  padding: 0px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: Roboto;
  }

  &__heart {
  display: flex;
  justify-content: flex-end;

    .fa-heart{
      margin-right:90px;
      bottom:100px;
      font-size:60px;

      &.fa-regular{
        position:absolute;
        opacity: 0;
      }

      &.fa-solid{
        position:relative;
        bottom:85px;
      }

      &:hover{
        &.fa-solid{
          transition: 0.5s all ease-in-out;
          color:$text-color-icon-special;
        }
      }
    }  
  }
}