/* Variables */
$bg-color-light: #EAEAEA;
$bg-color-lighter: #F6F6F6;
$text-color: #000;
$text-color-light: #757575;
$text-color-icon: #7E7E7E;
$text-color-icon-special: #9356DC;
$text-color-badge: #008766;
$bg-color-badge: #99E2D0;
$shadow-1: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$shadow-2: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$shadow-3: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
$font-family-primary: 'Roboto';
$font-family-title: 'Shrikhand';

/* Block styling for location */
.location {
  display: flex;
  background: $bg-color-light;
  height: 130px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  box-shadow: $shadow-1;

  &__icon {
    margin-right: 8px;
    font-size: 20px;
  }

    &__text {
      margin: 0;
      font-size: 44px;
    }
}

/* Block: reservation */
.reservation {
  text-align: center;
  background: $bg-color-lighter;

  &__title {
    font-size: 84px;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 45px;
    margin-bottom: 20px;
    font-family: $font-family-primary;
  }

  &__input {
    width: 56%;
    height: 116px;
    margin-bottom: 20px;
    border-radius: 100px;
    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    box-shadow: $shadow-2;
    margin-left: 82px;
    margin-right: 75px;
    border: none;
    padding-top: 12px;

    &::placeholder {
      color: white;
      text-align: center;
      font-family: $font-family-primary;
      font-size: 40px;
    }
  }

  &__fonctionnement {
    text-align: left;
    background: white;

    &-title {
      margin-bottom: 10px;
      font-family: $font-family-primary;
      font-size: 60px;
      padding:48px 80px 0 54px;
    }
  }

  &__filter {
    padding: 10px;
    border-radius: 8px;
  }

  &__steps {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &__step {
      display: flex;
      align-items: center;
      border-radius:40px;
      height:128px;
      width:84%;
      margin: 0 auto;
      background: var(--Background, #F6F6F6);
      box-shadow: $shadow-3;
      margin-bottom: 25px;

      &-icon {
        margin-right: 30px;
        margin-left: 99px;
        color: $text-color-icon;
        font-size:35px;

        &--special {
          color: $text-color-icon-special;
          margin-right: 30px;
          margin-left:99px;
          font-size: 35px;
        }
      }

      &-text {
        font-size: 40px;
        color: $text-color;
        font-family: $font-family-primary;
        font-weight: 500;
        line-height: normal;
        padding-left:40px;
      }
        .step-number{
          color:$bg-color-light;
          font-size: 30px;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          display: flex;
          border: 1px solid;
          align-items: center;
          position: absolute;
          background:$text-color-icon-special;
          justify-content: center;
          font-family: roboto;
          left:6%;
        }
    }
  }
}

/* Block: restaurants */
.restaurants {
  padding: 17px;
  background-color: $bg-color-lighter;

  &__title {
    font-size: 66px;
    text-align: left;
    margin-bottom: 20px;
    margin-left:28px;
  }

  &__choice {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
  }

  &__link {
    text-decoration: none;
    position: relative;
    color: inherit;
  }

  &__badge {
    position: absolute;
    background-color: $bg-color-badge;
    color: $text-color-badge;
    font-size: 25px;
    padding: 7px 9px;
    right: 18px;
    margin-top: 26px;
  }

  &__image {
    max-width: 100%;
  }

  &__details {
    padding: 10px;
    background-color: #ffffff;
    border: 4px solid white;
    margin-bottom: 30px;
    border-radius: 0px 0px 40px 40px
  }

  &__name {
    margin: 0 0 5px;
    font-family: $font-family-primary;
    font-size:46px;
  }

  &__location {
    font-size:48px;
    color: $text-color-light;
    margin: 0 0 10px;
    padding: 0px;
  }

  &__heart {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right:80px;
    bottom:50px;
    font-size:60px;

      .fa-solid{
        color:$text-color-icon-special;
      }
  }

}