// Variables 
$bg-color-light: #EAEAEA;
$bg-color-lighter: #F6F6F6;
$text-color: #000;
$text-color-light: #757575;
$text-color-icon: #7E7E7E;
$text-color-icon-special: #9356DC;
$text-color-badge: #008766;
$bg-color-badge: #99E2D0;
$shadow-1: 0px 12px 25px 6px rgba(0, 0, 0, 1.25);
$shadow-2: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
$font-family-primary: 'Roboto';
$font-family-title: 'Shrikhand';

// mixed

@mixin Button-Gradient{
  background: var(--Button-Gradient, linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%));
}

@mixin shadow($shadow){
  box-shadow: $shadow;
}

@mixin roboto-font{
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: Roboto;
}



 // Variables de breakpoint

 $breakpoint-medium: 768px;
 $breakpoint-xlarge: 1440px;


/* Block styling for location */
.location {
  display: flex;
  background: $bg-color-light;
  height: 130px;
  justify-content: center;
  align-items: center;
  gap:35px;
  @include shadow($shadow-1);

  &__icon {
    margin-right: 8px;
    font-size:50px;
  }

    &__text {
      margin: 0;
      font-size: 46px;
      font-family:$font-family-primary;
      font-weight: 500;
    }
}

/* Block: reservation */
.reservation {
  text-align: center;
  background: $bg-color-lighter;
  padding: 100px;

  &__title {
    font-size: 75px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family:$font-family-primary;
  }

  &__subtitle {
    font-size: 45px;
    margin-bottom:84px;
    font-family: $font-family-primary;
    line-height: normal;
  }
  
  a {
    @include Button-Gradient;
    display: inline-block;
    padding:32px 20px;
    color:#FFF;
    text-decoration: none;
    font-size:45px;
    border-radius:80px;
    width: 612px;
    height: 134px;
    text-align: center;
    margin-bottom: 57px;
    @include roboto-font;

    &:hover {
      transition: 0.5s all ease-in-out;
      opacity: 0.85;
    }
  }
}

/* block: fonctionnement */

.fonctionnement {

  text-align: center;
  background: white;

  &__fonctionnement-title {
    margin-bottom:80px;
    font-family: $font-family-primary;
    font-size: 66px;
    padding:48px 80px 0 54px;
    display: flex;
    
  }

  &__filter {
    padding: 10px;
    border-radius: 8px;
  }

  &__steps {
    margin: 0;
    list-style-type: none;
    padding: 0;
    padding-bottom: 174px;
  }

  &__step {
    display: flex;
    align-items: center;
    border-radius:40px;
    height:161px;
    width:84%;
    margin: 0 auto;
    background: var(--Background, #F6F6F6);
    @include shadow($shadow-2);
    margin-bottom:80px;

    &:last-child {
    margin-bottom: 0;
    padding-left:38px;
    }

    &-icon {
    margin-right: 30px;
    margin-left: 99px;
    color: $text-color-icon;
    font-size:62px;
    }

    &-icon--special{
    margin-right: 30px;
    margin-left:60px;
    font-size:62px;
    color: $text-color-icon-special;
    }

    &-text {
    font-size: 40px;
    color: $text-color;
    font-weight: 500;
    padding-left:40px;
    @include roboto-font;
    }

    &-number {
    color:$bg-color-light;
    font-size: 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    border: 1px solid;
    align-items: center;
    position: absolute;
    background:$text-color-icon-special;
    justify-content: center;
    @include roboto-font;
    left:6%;
    }
  }
}

/* Block: restaurants */
.restaurants {
  padding: 57px;
  background-color: $bg-color-lighter;
  padding-top: 63px;
  font-weight: 700;
  font-size: 24px;
  @include roboto-font;

  &__title {
  font-size: 66px;
  text-align: left;
  margin-bottom:56px;
  }

  &__choice {
  display: flex;
  flex-direction: column;
  gap: 20px;
  }

  &__item {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  }

  &__link {
  text-decoration: none;
  position: relative;
  color: inherit;
  }

  &__image {
  height: 520px;
  width: 100%;
  object-fit: cover;
  border-radius: 50px 50px 0px 0px;
  }

  &__details {
  padding:16px 25px 12px 13px;
  background-color: #ffffff;
  border: 4px solid white;
  margin-bottom: 30px;
  border-radius: 0px 0px 40px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  &__name {
  margin: 0 0 5px;
  font-family: $font-family-primary;
  font-size:46px;
  font-weight: 700;
  }

  &__location {
  font-size:48px;
  color: $text-color;
  margin: 0 0 10px;
  padding: 0px;
  @include roboto-font;
  }
}








/****** Responsive desktop *******/

// Breakpoint xlarge

@media (min-width: $breakpoint-xlarge) {


  /* Block styling for location */

  .location {
    display: flex;
    gap:17px;
    box-shadow: none;
  
    &__icon {
      margin-right: 8px;
      font-size:28px;
    }
  
      &__text {
        margin: 0;
        font-size:30px;
      }
  }
  
  /* Block: reservation */
  .reservation {
    text-align: center;
    background: $bg-color-lighter;
    padding: 100px;
  
    &__title {
      font-size: 59px;
    }
  
    &__subtitle {
      font-size:26px;
    }

    a {
      font-size:23px;
      width: 334px;
      height: 90px;
    }
    
  }


  /* block: fonctionnement */

  .fonctionnement {

      display: flex;
      padding: 50px 18px;
      flex-direction: column;
      align-items: flex-start;
      gap: 25px;

    &__fonctionnement-title {
      margin: 0;
      padding: 0px 0px 0px 129px;
      font-size: 34px;
    }

    &__filter {
      width: 100%;
      padding-left: 120px;
      padding-right: 120px;
    }

    &__steps {
      display: flex;
      flex-direction: row;
      padding: 0;
      gap:22px;
    }

    &__step {
      width: 208%;
      height: 56px;
      margin: 0;


      &:last-child {
      padding-left:38px;
      }

      &-icon {
        font-size: 28px;
        margin-left: 69px;
        margin-right: 26px;
      }

      &-icon--special{
        font-size: 28px;
        margin-left: 30px;
        margin-right: 43px;
      }

      &-text {
      font-size:20px;
      padding:0;
      }

      &-number {
        position: relative;
        width: 30px;
        height: 30px;
        font-size: 20px;
        left: 0;
      }
    }
  }

/* Block: restaurants */
.restaurants {
   padding: 57px;
    padding-top: 63px;
 
   &__title {
   font-size: 34px;
   margin-bottom: 28px;
   padding: 0px 0px 0px 79px;
   }

   &__choice {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 30px;
    margin-left: 84px;
   }


   &__image {
    width: 531px;
    height: 231px;
   }

   &__details {
    width: 531px;
    height: 231px;
   }

   &__name {
    font-size:30px;
   }

   &__location {
    font-size:27px;
   }
  }
}