/* Header-restaurant styling */

.header {
    background-color: #ffffff;
    display: flex;
    width: 375px;
    height: 63px;
    padding: 14px 89px 13px 17px;
    align-items: center;
    gap: 42px;
    
    &__links {
        text-decoration: none;
        color: #333333;
        
        i {
            text-decoration: none;
            width: 30px;
            height: 30px;
        }
    }
    
    &__logos {
        display: flex;
        width: 197px;
        height: 36px;
        padding: 0px 19px 0px 16px;
        justify-content: center;
        align-items: center;
    }
}